.admin-layout {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.admin-sidebar {
  width: 220px;
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.admin-sidebar h2 {
  margin-bottom: 20px;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
}

.admin-sidebar li {
  margin-bottom: 15px;
}

.admin-sidebar a,
.admin-sidebar button {
  color: #fff;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.admin-sidebar a:hover,
.admin-sidebar button:hover {
  color: #f04e30;
}

/* CONTENT */
.admin-content {
  flex: 1;
  padding: 30px;
  background-color: #f5f5f5;
}
