.trainer-form {
  background: #fff;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  max-width: 600px;
}

.trainer-form h3 {
  margin-bottom: 15px;
}

.trainer-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.trainer-form button {
  padding: 10px;
  background-color: #111;
  color: #fff;
  border: none;
  cursor: pointer;
}

.trainer-form button:hover {
  background-color: #f04e30;
}






.trainer-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: #fff;
}

.trainer-table th,
.trainer-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.trainer-table th {
  background-color: #111;
  color: #fff;
}

.delete-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c0392b;
}
